*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    min-height: 100vh;
    max-width: 100%;
    Font-size: 18px;
}
body{
    height: 100%;
    max-width: 100%;
}
h1,h2{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}
.header-container{
    width: 100vw;
    height: 618px;
    margin-bottom: 0%;
    background: url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-position-y: 40%;
    background-position-x: 20%;
    background-size: cover;
    background-color:  hsl(193, 100%, 96%);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 5%;
    margin-bottom: 3%;
    height: 15%;
    width: 100%;
    background-color: transparent;
    transition: all 4s linear;
}

nav img{
    height: 25px;
    width: 180px;
    margin-left: 4.5%;
}
nav img:hover{
    transform: translateX(10%);
}

header{
    height: 80%;
    width: 100%;
    padding-left: 2.5%;
    padding-right: 5%;
    background-color: transparent;
    display: flex;
}

header .header-container-1{
    width: 40%;
    padding-bottom: 3%;
    margin-left: 5%;
}
.header-container-1 h1{
    color: hsl(192, 100%, 9%);
    font-size: 1.9em;
    margin-top: 25.4%;
    margin-bottom: 10%;
    width: 109%;
    line-height: 1.45;
}
.header-container-1 p{
    font-size: 0.9em;
    line-height: 1.5;
    margin-bottom: 2%;
    width: 112%;
}

.header-container-1 button{
    color: #fff;
    font-weight: 400;
    width: 60%;
    border: none;
    background:  hsl(322, 100%, 66%);
    box-shadow: 0 0 1px   hsl(208, 11%, 55%) ;
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 400;
    padding: 3%;
    border-radius: 27px;
    margin-left: 17%;
    margin-bottom: 5%;
    margin-top: 8%;
    transition-property: background, width;
    transition-duration: 2s, 1s;
}
header .header-container-2{
    width: 70%;
    height: 100%;
    margin-left: 10%;
    padding-left: 0%;
    padding-right: 1%;
    padding-bottom: 3%;
    background-color: transparent;
}
.butt-1 button{
    color: hsl(192, 100%, 9%);
    width: 220%;
    background-color: #fff;
    border:none;
    box-shadow: 0 0 1px   hsl(208, 11%, 55%) ;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 15%;
    border-radius: 27px;
    margin-left: -180%; 
    transition-property: background, width;
    transition-duration: 2s, 1s;
}
button:hover{
    cursor: pointer;
    background:  hsl(322, 18%, 27%);
    width: 59%;
}
.butt-1 button:hover{
    background: rgb(216, 208, 208);
    cursor: pointer;
    width: 213%;
    padding: 14%;
}
.header-container-2 img{
    height: 100%;
    width: 95%;
    margin-right: 15%;
    padding-left: 8%;
}
section{
    width: 100%;
    height: 1500px;
    margin-top: -5%;
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 2%;
    background-color: transparent;
    position: relative;
}

.card-1, .card-3{
    border-radius: 15px;
    padding-bottom: 2%;
    margin: 5%;
    margin-bottom: 2%;
    margin-right: 8%;
    margin-top: 8%;
    background-color: rgba(255, 255, 255, 0.966);
    display: flex;
    border: 3px hsl(193, 100%, 96%) solid;
    box-shadow: 0 0 5px hsl(193, 100%, 96%) ;
    justify-content: space-between;
}
.card-3{
    margin-top: 1.2%;
}
.card-content-1,.card-content-3 {
    margin-left: 12%;
    width: 40%;
    background-color: transparent;
}

.card-content-1 h2, .card-content-3 h2{
    color:  hsl(192, 100%, 9%) ;
    margin-top: 20%;
    font-size: 1.2em;
    font-weight: 600;
}

.card-content-1 p, .card-content-3 p{
    width:102%;
    margin-top: 4%;
    color: hsl(208, 11%, 55%);
    font-size: 0.9em;
    line-height: 1.5;
}
.card-content-3 p{
    width: 95%;
}
.card-image-1,.card-image-3{
    width: 40%;
    margin-right: 1%;
    margin-top: 1%;
    padding-top: 0%;
    padding-left: 5%;
    padding-bottom: 5%;
    background-color: transparent;
}
.card-image-1 img, .card-image-3 img{
    margin-left: 5%;
    height: 100%;
    width: 80%;
}
.card-2{
    border-radius: 15px;
    padding-bottom: 2%;
    margin: 5%;
    margin-top: -10px;
    margin-bottom: 1%;
    margin-right: 8%;
    background-color: rgba(255, 255, 255, 0.966);
    display: flex;
    border: 3px hsl(193, 100%, 96%) solid;
    box-shadow: 0 0 5px hsl(193, 100%, 96%) ;
    justify-content: space-between;
}
.card-content-2{
    margin-right: 1%;
    width: 40%;
    background-color: transparent;
}

.card-content-2 h2{
    color:  hsl(192, 100%, 9%) ;
    margin-top: 15%;
    font-size: 1.2em;
    font-weight: 600;
}

.card-content-2 p{
    width:105%;
    margin-top: 4%;
    padding-right: 5%;
    margin-right: 1%;
    color: hsl(208, 11%, 55%);
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5;
}
.card-image-2{
    width: 40%;
    margin-top: 1%;
    padding-top: 0%;
    margin-left: 7%;
    padding-bottom: 5%;
    background-color: transparent;
}
.card-image-2 img{
    margin-left: 5%;
    height: 100%;
    width: 80%;
}

.card-4{
    width: 40%;
    height: 15%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 3px hsl(193, 100%, 96%) solid;
    border-radius: 15px;
    box-shadow: 0 0 5px hsl(193, 100%, 96%) ;
    padding: 3% 3% 5% 3%;
    position: absolute;
    margin-top: 9%;
    margin-left: 25%;

}

.card-4 h2{
    width: 110%;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2%;
    color:  hsl(192, 100%, 9%);
}

.card-4 button{
    color: #fff;
    font-weight: 400;
    width: 60%;
    background:  hsl(322, 100%, 66%);
    border:3px hsl(193, 100%, 96%) solid;
    box-shadow: 0 0 10px hsl(193, 100%, 96%) ;
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 400;
    padding: 4%;
    border-radius: 27px;
    margin-left: 17%;
    margin-bottom: 5%;
    margin-top: 12%;
    transition-property: background, width;
    transition-duration: 2s, 1s;
}
.card-4 button:hover{
    cursor: pointer;
    width: 59%;
    background:  hsl(322, 6%, 51%);
}

footer{
    display: block;
    color: #fff;
    margin-top: 24%;
    background-color: hsl(192, 100%, 9%);
    height: 40%;
    width: 110%;
    margin-left: -8%;
    padding-left: 10%;
    padding-right: 10%;
}

.footer-logo img{
    height: 1%;
    width: 29%;
    margin-top: 15%;
    margin-bottom: 5%;
    filter:  brightness(0) invert(1);
}

.footer-container{
    display: flex;
    justify-content: space-between;
}

.footer-container p{
    width: 32%;
    margin-left: -11%;
}

.footer-container img{
    height: 4%;
    margin-top: 0.8%;
    padding-right: 2%;
}

.wrap-1{
    height: 20%;
    margin-top: -1%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-items: center;
    line-height: 2.0;
}

.wrap-1 p{
    width: 100%;
    margin-left: -50%;
}
.wrap-2{
    height: 20%;
    margin-top: -1%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-items: center;
    line-height: 2.0;
}

.wrap-2 p{
    width: 100%;
    margin-left: -50%;
}
a{
    text-decoration: none;
    color: #fff;
}

.footer-content-2{
    display: flex;
    line-height: 2.0;
}
.footer-content-2 img{
    height: 2%;
    margin-top: 1%;
}
.footer-content-2 p{
    margin-left: 5%;
}


.footer-sub-content{
    display: flex;
    margin-top: 2%;
}

.footer-sub-content p{
    margin-left: 5%;
}

.images-link{
    display: flex;
    justify-content: space-around;
}
.images-link img{
    margin-top: -35%;
    width: 80%;
    height: 35%;
    margin-left: -250%;
}

.footer-paragraph p{
    margin-top: 4%;
    margin-left: 80%;
    font-size: 0.62em;
}



/* -----------------------------------
             Mobile Desig
    --------------------------------- */

@media(max-width: 375px) {
    .header-container{
        background: url(./images/bg-hero-mobile.svg);
        background-color:  hsl(193, 100%, 96%);
    }


    nav img{
        height: 20px;
        width: 90px;
        margin-left: 25%;
    }
    .butt-1 button{
        width: 180%;
        margin-left: -120%;
    }

    header{
        flex-direction: column;
    }
    header .header-container-1{
        width: 40%;
        padding-bottom: 3%;
        margin-left: 5%;
    }

    .header-container-1 h1{
        color: hsl(192, 100%, 9%);
        text-align: center;
        font-size: 1.2em;
        margin-left: 15%;
        margin-top: 25.4%;
        margin-bottom: 10%;
        width: 190%;
        line-height: 1.45;
    }
    .header-container-1 p{
        font-size: 0.8em;
        line-height: 1.5;
        margin-bottom: 2%;
        margin-left: 15%;
        width: 190%;
        text-align: center;
    }
    
    .header-container-1 button{
        width: 130%;
        font-size: 0.7em;
        padding: 6%;
        margin-left: 40%;
    }

    .card-1, .card-3, .card-2{
        border-radius: 15px;
        padding-bottom: 1%;
        margin: 5%;
        margin-bottom: 2%;
        margin-right: 8%;
        margin-top: 8%;
        background-color: rgba(255, 255, 255, 0.966);
        display: flex;
        flex-direction: column-reverse;
        border: 3px hsl(193, 100%, 96%) solid;
        box-shadow: 0 0 5px hsl(193, 100%, 96%) ;
        justify-content: space-between;
    }  

    .card-2{
        flex-direction: column;
    }

    .card-content-1,.card-content-3, .card-content-2 {
        margin-left: 6%;
        width: 80%;
        background-color:transparent;
    }
    .card-content-3{
        width: 120%;
    }

    
    .card-content-1 h2, .card-content-3 h2, .card-content-2 h2{
        color:  hsl(192, 100%, 9%) ;
        margin-top: 4%;
        margin-left: 30%;
        font-size: 1.0em;
        font-weight: 600;
    }

    .card-content-2 h2{
        width: 120%;
        margin-left: 12%;
    }
    
    .card-content-1 p, .card-content-3 p, .card-content-2 p {
        width:90%;
        text-align: center;
        margin-top: 4%;
        margin-left: 10%;
        margin-bottom: 5%;
        color: hsl(208, 11%, 55%);
        font-size: 0.65em;
        line-height: 1.5;
    }
    .card-content-3 h2{
        margin-left: 20%;
    }
    .card-content-3 p{
        font-size: 0.65em;
        width: 52.55%;
        margin-left: 10%;
    }
    .card-image-1,.card-image-3, .card-image-2{
        width: 80%;
        margin-top: 9%;
        padding-top: 0%;
        background-color: transparent;
    }
    .card-image-1 img, .card-image-3 img, .card-image-2 img{
        margin-left: 20%;
        height: 150%;
        width: 80%;
    }

    header .header-container-2{
        margin-left: 15%;
    }

    .card-4{
        position: absolute;
        width: 85%;
        height: 8%;
        top: 80% ;
        margin-left: 6%;
        z-index: 9;
    }

    .card-4 h2{
        width: 110%;
        font-size: 0.9em;
        font-weight: 600;
        margin-left: 2%;
        margin-top: -2%;
        color:  hsl(192, 100%, 9%);
    }
    
    .card-4 button{
        color: #fff;
        font-weight: 400;
        width: 80%;
        background-color:  hsl(322, 100%, 66%);
        border:3px hsl(193, 100%, 96%) solid;
        box-shadow: 0 0 10px hsl(193, 100%, 96%) ;
        text-align: center;
        text-decoration: none;
        font-size: 0.9em;
        font-weight: 400;
        padding: 4%;
        border-radius: 27px;
        margin-left: 9%;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    footer{
        top: 7%;
        margin-left: 0%;
        padding-left: 5%;
        padding-right: 2%;
        position: relative;
    }
    .footer-logo img{
        height: 90%;
        width: 40%;
        margin-top: 25%;
        margin-bottom: 5%;
        filter:  brightness(0) invert(1);
    }
    .footer-container p{
        font-size: 0.85em;
        width: 75%;
        line-height: 1.5;
        margin-right: 15%;
    }
    
    .footer-container img{
        height: 4%;
        margin-top: 0.8%;
        padding-right: 0%;
    }

    .wrap-1{
        height: 10%;
        top: 55%;
        left: 3%;
        line-height: 1.5;
        position: absolute;
    }
    
    .wrap-1 p{
        width: 100%;
        font-size: 0.9em;
        margin-left: 5%;
    }
    .wrap-2{
        position: absolute;
        height: 20%;
        top: 68%;
        left: 15%;
        display: flex;
        flex-direction: column;
        line-height: 1.5;
    }
    
    .wrap-2 p{
        font-size: 0.9em;
        width: 100%;
    }

    .footer-content-2{
        position: absolute;
        top: 41%;
        display: flex;
        align-items: center;
        line-height: 0;
        width: 50%;
    }
    .footer-content-2 img{
        height: 0.3%;
    }
    .footer-content-2 p{
        font-size: 0.85em;
        padding: 2%;
        width: 90%;
    }   
    .footer-sub-content{
        position: absolute;
        top: 47%;
        display: flex;
    }
    .footer-sub-content p{
        font-size: 0.85em;
        margin-left: 10%;
    }
    .footer-sub-content img{
        height: 0.5%;
    }
    
    .images-link{
        position: absolute;
        top: 86%;
        left: 60%;
        display: flex;
        justify-content: space-around;
    }
    .images-link img{
        width: 80%;
        height: 70%;
    }
    .footer-paragraph {
        position: absolute;
        top: 92%;
        left: 1%;
    }
    .footer-paragraph p{
        margin-top: 4%;
        margin-left: 10%;
        font-size: 0.8em;
        width: 100%;
    }
}
